@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Iran-Sans';
    src: url('../public/assets/fonts/IRANSansWeb.woff');
}


.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

@layer base {
    body {
        font-family: "Iran-Sans"

    }
}
body{
    direction: rtl;
}